AppQt
*_autogen/
build.ninja
.cache
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
data
*.dll
*.exe
gcm.cache/
.ignored
.latest*
latest*.json
lib*.a
.ninja_*
notes.md
.pycache/
.qt/
test*.py
